
#top=margin {
	
margin-top:100px;	
}

.clear-dop {

	width: 100vw;
	height: 60px;
	
}

.chekin-op {
	width: 80%;
	border-radius: 5px;
}

.chekin-op {
	
}

.card{

margin: 1rem;



}
.container{


background-color: skyblue;



}